<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 引入Vue之后才能用!!! -->
    <script src="../node_modules/vue/dist/vue.js"></script>

    <!-- 表单选项: 自定义组件: v-model 双向绑定-->
    <div id="app">
         精通的语言: 
        <input type="checkbox" v-model="language" value="Java">Java<br>
        <input type="checkbox" v-model="language" value="Python">Python<br>
        <input type="checkbox" v-model="language" value="php">php<br>

        选中了{{language}} <br>
        选中了{{language.join(",")}}
    </div>

    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                language: []
            }
        })
    </script>

    
</body>
</html>